
.box {
  overflow: hidden;
  /*border-style: groove;*/
  /*border-style: none;*/
  border: 2px none lightgray;
  position: relative;
}

.box:hover {
  border-style: dashed;
}

.box:hover .handle,
.box:hover .react-resizable-handle {
  display: block;
}

.react-resizable-handle {
  display: none;
}

.logContainer {
  overflow: auto;
  position: absolute;
  
  height: -moz-calc(100% - 20px);
  height: -webkit-calc(100% - 20px);
  height: -o-calc(100% - 20px);
  height: calc(100% - 20px);

  width: 100%;
  right: 0;
  top: 20px;
  background: rgba(180, 180, 180, .15);
}

.title {
  height: 18px;
  margin-left: 3px;
  margin-top: 1px;
}

.statusBox {
  overflow: visible;
}

.progressLabel {
  position: absolute;
  top: 0px;
  left: 4px;
}

p {
  line-height: 14px;
  font-size: 14px;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  margin: 0 !important;
  white-space: nowrap;
  /*word-break: break-all;
  overflow-wrap: break-word;*/

}

.handle {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  display: none;
}

.handleIcon {
  background-image: url(../images/cursor-move-black.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
  border: none;
}
