/*:root {
  --nord0: #2E3440;
  --nord1: #3B4252;
  --nord2: #434C5E;
  --nord3: #4C566A;
  --nord4: #D8DEE9;
  --nord5: #E5E9F0;
  --nord6: #ECEFF4;
  --nord7: #8FBCBB;
  --nord8: #88C0D0;
  --nord9: #81A1C1;
  --nord10: #5E81AC;
  --nord11: #BF616A;
  --nord12: #D08770;
  --nord13: #EBCB8B;
  --nord14: #A3BE8C;
  --nord15: #B48EAD;
}*/

body {
  background-color: lightgray;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.box {
  overflow: hidden;
  /*border-style: groove;*/
  /*border-style: none;*/
  border: 2px none black;
  border-radius: 3px;
  position: relative;
  background: teal;
}

.box:hover {
  border-style: dashed;
}

.box:hover .handle,
.box:hover .react-resizable-handle {
  display: block;
}

.react-resizable-handle {
  display: none;
}

.title {
  height: 18px;
  margin-left: 5px;
  margin-top: 1px;
}

.container {
  overflow: auto;
  position: absolute;
  
  height: -moz-calc(100% - 20px);
  height: -webkit-calc(100% - 20px);
  height: -o-calc(100% - 20px);
  height: calc(100% - 20px);

  width: 100%;
  right: 0;
  top: 20px;
  /*background: rgba(180, 180, 180, .15);*/
  background: white;
}

.bigStatusContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 40px;
}

.statusBox {
  overflow: visible;
}

.progressPercent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 32px;
}

.barContainer {
  position: relative;
  top: 80%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/*.progress {
  margin: 4px 3px 0px 3px;
}

.progressLabel {
  position: absolute;
  top: 4px;
  left: 7px;
}

.statusContainer {
  margin-left: 4px;
}*/

p {
  line-height: 14px;
  font-size: 14px;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  margin: 0 !important;
  white-space: nowrap;
  /*word-break: break-all;
  overflow-wrap: break-word;*/

}

.handle {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  display: none;
}

.handleIcon {
  background-image: url(../images/cursor-move-black.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
  border: none;
}

.handle:hover {
  cursor: move;
}
